:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --akcent-text-color: #2196f3;
  --white-color: #ffffff;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  /* text-align: center; */
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* Logo+Navigation */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--akcent-text-color);
}
.logo {
  color: #000000;
}
.header-list {
  /* display: flex; */
}
.header-list .header-link {
  color: var(--secondary-text-color);
}
.header-list.header-link:focus,
.header-link:hover {
  color: var(--akcent-text-color);
}

/* Contacts */
.header-contacts {
  /* display: flex; */
}

.header-contacts .contacts-item {
  color: var(--main-text-color);
}
.header-contacts.contacts-item:focus,
.contacts-item:hover {
  color: var(--akcent-text-color);
}

/* Hero */

.main-hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* max-width: 650px; */
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Button */

.button {
  color: var(--secondary-text-color);
  background-color: var(--white-color);
  font-size: 16px;
  padding: 10px 32px;
  /* display: inline-block;
  border-radius: 4px; */
  font-weight: 700;
  /* line-height: 30px; */
}
.button.hero-button {
  color: var(--white-color);
  background-color: var(--akcent-text-color);
}
.button:focus,
.button:hover {
  color: var(--secondary-text-color);
}

/* Main section */

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}
.section-item {
  font-size: 14px;
  line-height: 24px;
}

/* Team */

.team {
  background-color: #f5f4fa;
}
.team-list {
  background-color: var(--white-color);
  text-align: center;
}
.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-item {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--white-color);
}
.adress-title {
  color: var(--white-color);
}
.footer-contacts .footer-item {
  color: var(--main-text-color);
}

/* Porfolio filter button */

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
}

.filter.button-filter {
  background-color: #f5f4fa;
}

.filter:hover {
  color: var(--white-color);
  background-color: var(--akcent-text-color);
}
/* Portfolio */

.portfolio-list {
  border: 1px solid #ececec;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.portfolio-item {
  font-size: 16px;
  line-height: 30px;
  color: var(--main-text-color);
}
